*{
    margin: 0;
    padding: 0;
    font: arial;
}

.title {
    padding: 10px;
    background-color: #fed74e;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-weight: 700;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#input-text {
    margin: 20px;
    height: 5rem;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    border-color: #fed74e;
    border-width: 3px;
    text-align: center;
    justify-content: center;
}

#input-text:hover {
    margin: 20px;
    height: 5rem;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    border-color: #fed74e;
    border-width: 3px;
    box-shadow: 5px 5px 10px;
    transition: all 0.6s ease;
    text-align: center;
    justify-content: center;
}

#btn-translate {
    padding: 10px;
    background-color: #fed74e;
    color: whitesmoke;
    border: #fed74e;
    border-radius: 10px;
}

#btn-translate:hover {
    padding: 10px;
    background-color: #fed74e;
    color: whitesmoke;
    border: #fed74e;
    border-radius: 10px;
    border-width: 3px;
    box-shadow: 3px 3px 10px black;
    transition: all 0.6s ease;
}

#text {
    padding: 10px;
    color: darkslategrey;
    font-size: 20px;
    font-weight: 700;
    
}

#outputDiv {
    border: solid;
    width: 50%;
    height: 5rem;
    margin: 10px;
    padding: 20px;
    border-color: #fed74e;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

#outputDiv:hover {
    border: solid;
    width: 50%;
    height: 5rem;
    margin: 10px;
    padding: 20px;
    border-color: #fed74e;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    transition: all 0.6s ease;
    text-align: center;
    justify-content: center;
}


.footer {
    text-align: center;
    bottom: 0;
    position: fixed;

    padding: 10px 0 10px 0;
    width: 100%;
    background-color: #fed74e;
    color: aliceblue;
}

.footer h1{
    /* padding-top: 20px; */
    font-weight: 900;
}

.footer p{
    text-align: justify;
    padding: 10px;
    font-weight: 500;
    max-width: 70%;
    margin: auto;
}